@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --fontFamily: "Outfit", sans-serif;
  --fontSize: 1.1rem;

  --margin: 1rem;
  --padding: 0.5rem;
  --borderRadius: 0.5rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: 300;
  color: var(--softBlue);
  background-color: var(--mainBG);
}
main,
.card,
.card-image,
.card-image > a,
.card-infos,
.row,
.price,
.published,
.author-area,
footer {
  display: flex;
}
main,
.card,
.card-image,
.card-image > a,
.row,
.author-area,
footer {
  align-items: center;
}
main,
.card-image,
.card-image > a,
footer {
  justify-content: center;
}
main {
  height: 100vh;
}
.card,
.card-infos {
  flex-direction: column;
}
.card {
  width: 328px;
  min-width: 289px;
  height: 540px;
  background-color: var(--cardBG);
  padding: calc(var(--padding) * 2);
  border-radius: var(--borderRadius);
  margin: 0 calc(var(--margin) * 2);
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1),
    -10px 10px 10px hsla(0, 0%, 0%, 0.1);
}
.card-image,
.card-image img:last-of-type {
  width: 100%;
}
.card-image {
  position: relative;
  height: 60%;
}
.card-image img:last-of-type,
.card-image > a > img:first-of-type {
  position: absolute;
}
.card-image img:last-of-type {
  top: 0;
  left: 0;
  height: 100%;
  border-radius: var(--borderRadius);
}
.card-image > a {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.7);
  border-radius: var(--borderRadius);
  opacity: 0;
  transition: all 0.3s ease;
}
.card-image > a:hover {
  opacity: 1;
}
.card-image > a > img:first-of-type {
  top: 124px;
  left: 124px;
  width: 50px;
  height: auto;
}
.card-infos {
  justify-content: space-evenly;
  height: 40%;
}
.card-infos h1 a {
  font-size: calc(var(--fontSize) * 1.4);
  font-weight: 600;
  color: var(--white);
  transition: color 0.3s ease;
}
.card-infos h1 a:hover,
.author-area p > a:hover,
footer a:hover {
  color: var(--cyan);
}
.row {
  justify-content: space-between;
}
.price img,
.published img,
.author-area img {
  margin-right: calc(var(--margin) * 0.5);
  align-self: center;
}
hr {
  border: none;
  height: 1px;
  border-top: 1px solid var(--line);
}
.author-area img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.author-area p > a,
footer a {
  color: var(--white);
  transition: color 0.3s ease;
}
footer {
  height: 10vh;
}

@media screen and (width < 375px) {
  .card-image > a > img:first-of-type {
    top: 8rem;
    left: 6.5rem;
  }
  footer {
    text-align: center;
    padding:cal(var(--padding)*6);
  }
}
